<% layout("/layouts/boilerplate") %>

<div class="payment_div">
    <h3>Payment Confirmation</h3>
    <p>Your payment of <b>₹<%= price %></b> for <b>Listing ID:</b> <%= id %> has been successfully processed.</p>
    <p><strong>Reference ID:</strong> <%= refId %></p>

    <a href="/listings">
        <button class="btn btn-success col-9 offset-2 book-btn">
            Go to Home
        </button>
    </a>
</div>
